body
  font:
    size: 12px
    family: "Helvetica Neue", Arial, Helvetica, sans-serif
  line-height: 1.5

div#title
  margin: 0 0 15px 0
h1
  color: #222
  padding: 0
  margin: 0 0 3px 0
  font:
    weight: normal
    size: 22px 
  line-height: 1

h3
  color: #666
  margin: 0 0 3px 0
  font:
    weight: normal
    size: 16px 
  line-height: 1

div#content
  width: 375px

